*{
    margin: 0;
    padding: 0;
}

:root{
    --white:rgb(231, 229, 229);
    --white2:rgb(201, 199, 199);
    --black:rgb(31, 30, 30)
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


body{
    font-family: 'Comfortaa', cursive;
    background-color: var(--white2);
    color: var(--black);
    cursor: url('./cur1054.cur'), default;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--white);
    position: fixed;
    z-index: 4;
}
h1{
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    margin-left: 20px;
}

.navbar{
    display: flex;
    gap: 25px;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;

}

.navbar>li>a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* cursor: url('./icons8-finger-up-32.png'), default; */
}

nav .bar{
    display: none;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    background-color: var(--white2);
}

h2{
    margin-top: -20px;
    font-size: 50px;
    font-weight: 1000;
}

.main p{
    font-size: 18px;
    width: 60vw;
    text-align: center;
    padding-top: 30px;
}

#skill{
    margin-top: 100px;
    padding-top: 100px;
}

.heading{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 70px;
    font-size: 40px;
    z-index: 3;
    position: relative;
}
#skill .logo{
    display: flex;
    justify-content: center;
    gap: 50px;
}

h4{
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    color: rgb(105, 104, 104);
}

#project{
    margin-top: 150px;
    padding-top: 100px;
}

#img-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;

}

.preview{
    width: 45vw;
    height: auto;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}
.preview img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.blur{
    background-color: rgba(0, 0, 0, 0.575);
    position: absolute;
    z-index: 3;
    width: 45vw;
    height: 100%;
    border-radius: 8px;
    transition: all 80ms linear;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.blur button{
    height: 30px;
    width: 60px;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    cursor: url('./cur1054.cur'),default;
}

.blur button:hover{
    border: 2px solid black;
    box-shadow: 0px 0px 5px 2px white;
}

.hide{
    /* display: none; */
    opacity: 0;
}

.navbar>li>a:hover{
    color: purple;
}

.cc{
    color: purple !important;
    text-decoration: 2px underline purple !important;

}

.arrow .material-symbols-outlined{
    font-size: 40px;
    font-weight: 500px;
    position: absolute;
    top: 90vh;
}

#contact{
    margin-top: 80px;
}

.connect{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}




@media screen and (max-width:450px) and (orientation:portrait){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        position: absolute;
        z-index: 5;
        right: 0;
        top: 2px;
        gap: 35px;
        width: 70vw;
        height: 100vh;
        margin-right: 40px;
        padding-top: 50px;
    }
    #skill .logo{
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 60px;
    }

    .logo h4{
        display: none;
    }

    .logo img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #img-box{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    
    }
    .preview{
        width: 85vw;
        height: auto;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        margin-left: 25px;
    }
    .preview img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 2;
    }
    
    .blur{
        background-color: rgba(0, 0, 0, 0.575);
        position: absolute;
        z-index: 3;
        width: 85vw;
        height: 100%;
        border-radius: 8px;
        transition: all 80ms linear;
        color: white;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }
    
    .blur button{
        height: 30px;
        width: 60px;
        margin-top: 15px;
        border: none;
        border-radius: 50px;
        cursor: url('./cur1054.cur'),default;
    }
    
    
    .hide{
        opacity: 100%;
    }

    .main h2{
        font-size: 60px;
        padding-left: 40px;
    }
    
    .main p{
        font-size: 20px;
        width: 70vw;
        text-align: center;
        padding-top: 30px;
    }

    #skill{
        margin-top: 90px;
        padding-top: 0px;
    }

    #project{
        margin-top: 100px;
        padding-top: 0px;
    }

    nav .bar{
        display: inline;
        margin-right: 50px;
        position: relative;
        z-index: 7;
    }

    .hide_menu{
        display: none;
    }
    
    .shadow{
        position: relative;
        z-index: 2;
        filter: blur(10px);
    }

    .connect{
        gap: 25px;
        flex-wrap: wrap;
    }
}


